#!/bin/bash

# tmux.conf: {{ include "dot_config/tmux/tmux.conf" | sha256sum }}
# theme.conf: {{ include "dot_config/tmux/theme.conf" | sha256sum }}
#
# Reload tmux config every time any ~/.config/tmux/*.conf file changes!
if pgrep tmux >/dev/null; then
  tmux source-file ~/.config/tmux/tmux.conf
  message="The tmux configuration file has been reloaded."
  tmux display-message "${message}"
  echo "${message}"
fi
