###############################################################################

auto_view text/html  # view html automatically
alternative_order  text/html text/plain text/enriched  # save html for last

source ~/.mutt/hooks/bryanbugyi34.gmail
mailboxes imaps://bryanbugyi34@imap.gmail.com:993/ {{ if ne .chezmoi.os "darwin" -}} /var/mail/bryan {{- end }}

{{ if eq .chezmoi.os "darwin" -}}
set folder = "/Users/bbugyi/Mail"
{{- else -}}
set folder = "/var/mail/bryan"
{{- end }}

################################ SETS #########################################
set realname = "Bryan Bugyi"

##SECURING
set move = no  #Stop asking to "move read messages to mbox"!
set imap_keepalive = 900

##Sort by newest conversation first.
set sort = reverse-threads
set sort_aux = last-date-received

##Set editor to create new email
set edit_headers
source "~/.mutt/bin/editor.sh|"
# Opens vim to first blank line
set editor="$my_editor +/^$"

set alias_file = '~/.mutt/aliases'
set sort_alias = alias
# set display_filter    = '~/.mutt/bin/aliases.sh'
source $alias_file

# when replying, do not prompt for address
set fast_reply=yes
# include original text on reply?
set include=yes
# Makes folder moves faster.
set confirmappend=no
# do not go to next message at end of message
set pager_stop

set mail_check=10
# Needed for 'mail_check' to work when mutt is idle
set timeout=3
set beep_new
# I do not care if message is OLD
set nomark_old
# purge deleted messages without asking
set delete=yes
set mailcap_path=~/.mutt/mailcap

# Enables mutt to set terminal title
set xterm_set_titles=yes

################################## BINDINGS ###################################
bind editor <space> noop
bind pager [ half-up
bind pager ] half-down

bind index <F8> imap-fetch-mail

### Inspired by Vim ###
bind index G last-entry
bind pager G bottom
bind index N search-opposite
bind pager j next-line
bind pager k previous-line

bind attach <return>    view-mailcap


################################## MACROS #####################################
macro index 'c' '<change-folder>?<change-dir><home>^K=<enter>'
macro index,pager d "<save-message>=[Gmail]/All Mail<enter>" "Delete"
macro index,pager D delete-message
macro index,pager s "<save-message>=Saved<enter>" "Save"
macro index,pager !  "<save-message>=[Gmail]/Spam<enter><enter>" "Report spam"

### Inspired by Vim ###
bind index g noop
bind pager g noop
macro index gi "<change-folder>=INBOX<enter>" "Go to inbox"
macro index ga "<change-folder>=[Gmail]/All Mail<enter>" "Go to All Mail"
macro index gt "<change-folder>=[Gmail]/Sent Mail<enter>" "Go to Sent Mail (Outbox)"
macro index gs "<change-folder>=Saved<enter>" "Go to Saved Label"
macro index gp "<change-folder>=[Gmail]/Spam<enter>" "Go to Spam Label"
macro index gg <first-entry> "Go to top email"
macro pager gg <top> "Go to top"
macro index,pager ,e quit "Quit"

# Used to open attachment in a program that I specify
macro attach O \
"\
<enter-command>unset wait_key<enter>\
<shell-escape>rm -f /tmp/mutt-attach<enter>\
<save-entry><kill-line>/tmp/mutt-attach<enter>\
<shell-escape> /tmp/mutt-attach &^A\
"

macro attach s <save-entry><kill-line>/home/bryan/Downloads/

############################ HOOKS ############################################
account-hook $folder 'source ~/.mutt/hooks/status_format'
folder-hook imaps://bryanbugyi34@imap.gmail.com:993/ 'source ~/.mutt/hooks/bryanbugyi34.gmail'
folder-hook /var/mail/bryan/ 'source ~/.mutt/hooks/unixmail'

# Configure colors / highlighting.
source ~/.mutt/lib/colors
