{{ if eq .chezmoi.hostname "athena" -}}
[build]
build-dir = "{{ .chezmoi.homeDir }}/.cache/sase/tmp/build-targets/cargo-{workspace-path-hash}"
rustc-wrapper = "{{ .chezmoi.homeDir }}/bin/sase-rustc-wrapper"
{{- end }}
