snippet # "Message" i
# $1<<1>>[CLEAR]
endsnippet

snippet < "Sleep" i
<<${1:1}>>
endsnippet

snippet ( "xdotool Delay" i
((${1:150})
endsnippet

snippet C "CLEAR" i
[CLEAR]
endsnippet

snippet T "TAB" i
[TAB]
endsnippet

snippet E "ESC" i
[ESC]
endsnippet
