priority 10

snippet elif
else if ($1) {
  ${2:${VISUAL}}
}
endsnippet

snippet for
for (final $1 in $2) {
  ${3:${VISUAL}}
}
endsnippet

snippet ife
if ($1) {
  $2
} else {
  ${3:${VISUAL}}
}
endsnippet

snippet sw
switch ($1) {
  case $2:
    $3;
    break;
  default:
    $0;
}
endsnippet

snippet todo
// TODO: $0
endsnippet

snippet tobo
// TODO(b/$1): $0
endsnippet

snippet todu
// TODO(bbugyi): $0
endsnippet
