snippet box "Make Box"
-------------------------------------------------------------------------------
-- $1
-------------------------------------------------------------------------------
endsnippet

snippet kb "Key Binding"
, ((alpha$1, $2), $0)
endsnippet
