snippet a "ASSIGNEE=..." b
ASSIGNEE=$0
endsnippet

snippet cl "CHANGELIST+=..." b
CHANGELIST+=$0
endsnippet

snippet cps "Context / Problem / Solution"
**Context**
* $0

**Problem**
* $1

**Solution**
* $2
endsnippet

snippet p "PARENT+=..." b
PARENT+=$0
endsnippet
